.footer-container {
  width: 100%;
  margin: auto;
  height: 25em;
  background: #660000;
  margin-top: 2em;
  margin-bottom: 2em;
}
.footer-section {
  width: 25%;
  display: inline-block;
  color: white;
  font-size: 1.15em;
  text-align: left;
  margin: 2em 2% 1em 2%;
  vertical-align: top;
}

.footer-title {
  border-bottom: 1px dotted white;
  padding-bottom: 0.7em;
}
.footer-contact {
  margin-left: 8%
}
.footer-connect {
  margin-right: 8%
}
.footer-section-text {
  display: block;
  color: white;
  margin-top: 1em;
  margin-bottom: 1.7em;
}
.footer-section-text:hover {
  color: white;
}
