$dark-gray: #333c4e;
$light-gray: #7e8890;

.homepage-container {
  overflow:hidden;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.homepage-main-image-container {
  position: relative;
}

.homepage-main-image {
  width: 100vw;
  max-width: 100%;
}

.main-slogan {
  position: absolute;
  top: 10%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  z-index: 999;
  width: 100%;
  text-shadow: 1px 1px 10px #000
}

.main-mini-desc {
  position: absolute;
  top: 20%;
  font-style: italic;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  z-index: 999;
  width: 100%;
  text-shadow: 1px 1px 10px #000
}

input:focus{
  outline: none;
}

button:focus {
  outline: none;
}

.main-signup-button-container {
   position: absolute;
   top: 40%;
   font-size:1.8rem;
   width: 100%;
   text-align: center;
}

.main-signup-button {
  width: 80%;
  border-radius: 500px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-family: "Permanent Marker";
  border: none;
  padding: 1.5rem 3rem;
  cursor: pointer;
}

.main-signup-button:hover {
  background-color: black;
  color: red;
}

.border-line {
  width: 90%;
  border-bottom: 2px solid $light-gray;
  margin: 0 auto;
  margin-top: 3em;
}


//// ----------------------

.desc-container {
  color: $dark-gray;
}

// .left-desc {
//   width: 100%;
//   // padding: 0.8em;
//   line-height: 1.5em;
// }

// .left-desc-title{
//   width: 100%;
//   text-align:center;
//   font-weight: 300;
//   font-size:1.5rem;
//   background: #ff9b9b
// }

// .left-desc-content{
//   width: 100%;
//   text-align: center;
//   font-weight: 300;
//   // color: $light-gray;
//   font-size: 1rem;
//   background: #ff9b9b;
// }
//
// .volunteer {
//   width: 100%;
//   text-align: center;
//   font-weight: 300;
//   font-size: 1rem;
//   color: black;
// }

.right-desc {
  width: 100%;
  img {
    box-shadow: 0 0 1px rgba(76,86,103,.25), 0 2px 18px rgba(31,37,50,.32);
  }
}
//
// .right-desc-img{
//   width: 100%;
//   vertical-align: top;
// }
//
// .team-desc {
//   display: none;
// }
//
// .booster-mission-statement{
//   font-size: 1em;
// }

@media screen and (min-device-width: 414px) {

  .main-slogan {
    letter-spacing: 0.1em;
    font-size: 1.9rem;
    font-weight: normal;
  }

  .main-mini-desc {
    font-size: 1.6rem;
    font-weight: normal;
  }

  .main-signup-button {
    width: 90%;
    font-size: 1.9rem;
  }

}


// @media screen and (min-device-width: 768px) {

  .main-slogan {
    letter-spacing: 0.1em;
    font-size: 4rem;
    font-weight: normal;
  }

  .main-mini-desc {
    top: 40%;
    font-size: 2rem;
    font-weight: normal;
  }

  .main-signup-button-container {
    top: 50%;
  }

  .main-signup-button {
    width: 60%;
    font-size: 2.5rem;
  }

  .desc-container {
    // color: $dark-gray;
    // display: flex;
    // flex-direction: row;
    // min-height: 60rem;
  }

  .left-desc {
    width: 45%;
    margin-left: 5%;
    margin-top: 7%;
    // margin-bottom: 3em;
    // padding: 2em 5em;
    // line-height: 3em;
    // height: 48.8rem;
    display: inline-block;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
  }

  .left-desc-title{
    text-align:left;
    font-weight: 400;
    text-decoration: underline;
    font-size: 2em;
    display: block;
    // background: #aaaaaa;
    padding-left: 1em;
    // padding-right: 1em;
    padding-top: 1em;
  }

  .left-desc-content{
    width: 100%;
    text-align: left;
    font-weight: 300;
    font-size: 1em;
    background: #aaaaaa;
    box-shadow: 0 0 1px rgba(76,86,103,.25), 0 2px 18px rgba(31,37,50,.32);
    display: inline-block;

    // padding-left: 1em;
    // padding-right: 1em;
    padding: 0em 2em 2em 2em;

  }
  .booster-mission-container {
    width: 100%;
    text-align: left;
    font-weight: 300;
    font-size: 1em;
    background: #aaaaaa;
    box-shadow: 0 0 1px rgba(76,86,103,.25), 0 2px 18px rgba(31,37,50,.32);
    display: inline-block;

    padding: 0em 2em 2em 2em;

    // line-height: 3em;
    color: black;
  }
  .volunteer {
    width: 100%;
    text-align: left;
    font-weight: 300;
    font-size: 1em;
    background: #aaaaaa;
    box-shadow: 0 0 1px rgba(76,86,103,.25), 0 2px 18px rgba(31,37,50,.32);
    display: inline-block;

    padding: 2em 5em;

    line-height: 3em;
    margin-top: 1em;
    color: black;
    // padding-left: 1em;
    // padding-right: 1em;
  }
  .volunteer-title {
    font-size: 1.5em;
    border-bottom: solid 0.1em black;
  }
  .right-desc {
    width: 50%;
    padding-right: 5em;
    padding-left: 5em;
    display: inline-block;
    position: absolute;
    top: 10%;
  }

  .right-desc-img{
    width: 100%;
    // vertical-align: middle;
  }

  .team-desc {
    display: block;
    // position: fixed;
    bottom: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-weight: 300;
    text-align: center;
    height: 4em;
    line-height: 4em;
    letter-spacing: 0.2rem;
}

// }

@media screen and (min-device-width: 1024px) {

  .homepage-main-image {

    margin: -11rem 0 -10rem 0;
  }

  .main-slogan {
    top: 30%;
    letter-spacing: 0.1em;
    font-size: 4rem;
    font-weight: normal;
  }

  .main-mini-desc {
    font-size: 2rem;
    font-weight: 300;
  }

  .main-signup-button-container {
    top: 50%;
  }

  .main-signup-button {
    width: 30%;
    font-size: 2.5rem;
  }

  // .left-desc {
  //   height: 60rem;
  // }

  .border-line {
    margin-top: 15rem;
  }

  /* typist css */
  .Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }


}
