input:focus{
  outline: none;
}

button:focus {
  outline: none;
}

.form-container {
  font-family: "Open Sans", sans-serif;
  width: 90vw;

  background-color:#fff;
  margin: 0 auto;
  margin-top: 4em;
  padding-bottom: 2em;
  box-shadow: 0 0 1px rgba(76,86,103,.25), 0 2px 18px rgba(31,37,50,.32);
  border-bottom-right-radius: 60px 10px;
  border-bottom-left-radius: 60px 10px;
}

.login {
  min-height: 23em;
}

.signup {
  min-height: 32em;
}

.signup-label {
  text-align: center;
  margin: 0 auto;
  display: block;
  padding-top: 2em;
}

.login-label {
  text-align: center;
  margin: 0 auto;
  display: block;
  padding-top: 2em;
}

.signup-input-field {
  width: 80%;
  text-align: left;
  line-height: 2em;
  height: 2em;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
  padding: 1em 0.5em 1em 1em;
  border-radius: 2px;
  border: 1px solid #dfe0e6;
}

.login-input-field {
  width: 100%;
  text-align: left;
  line-height: 2em;
  display: block;
  height: 2em;
  margin-top: 1em;
  padding: 1em 0.5em 1em 1em;
  border-radius: 2px;
  border: 1px solid #dfe0e6;
}

.login-input-field:focus {
  border: 1px solid #4099FF;
}

.signup-input-field:focus{
  border: 1px solid #4099FF;
}

.signup-disclaimer-container {
  font-size: 0.65em;
  width: 80%;
  margin: 0 auto;
}

.alert-warning {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  width: 80%;
  line-height: 1em;
  display: block;
  margin-top: 1em;
  border-radius: 2px;
  border: 1px solid #dfe0e6;
}

.login-submit-button {
  width: 80%;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  border-radius: 500px;
  display: block;
  background-color: #2EBD59;
  border: none;
  height: 2.5em;
  margin-top: 0.8em;
  font-weight: bold;
}

.signup-submit-button {
  width: 80%;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  border-radius: 500px;
  display: block;
  background-color: #2EBD59;
  border: none;
  height: 2.5em;
  margin-top: 0.8em;
  font-weight: bold;

}

.login-link-container {
  width: 80%;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  border-radius: 500px;
  display: block;
  background-color: #4099FF;
  border: none;
  height: 2.5em;
  margin-top: 0.8em;
}

.signup-link-container {
  width: 80%;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  border-radius: 500px;
  display: block;
  background-color: #4099FF;
  border: none;
  height: 2.5em;
  margin-top: 0.8em;
}

@media screen
  and (min-device-width: 768px)
 {

  .form-container {
  width: 40vw;
  background-color:#fff;
  margin: 0 auto;
  margin-top: 6em;
  box-shadow: 0 0 1px rgba(76,86,103,.25), 0 2px 18px rgba(31,37,50,.32);
}


}

.slideIn-appear {
  margin-top: -500px;
}

.slideIn-appear.slideIn-appear-active {
  margin-top: 0;
  transition: margin-top 0.5s ease-in;
}

@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  // box-shadow: 0 0 1px transparent;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active, .hvr-wobble-horizontal-active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
